<div class="col-12 col-lg-4">
  <div class="card shadow">
    <div class="card-body" style="height: 25rem;">
      <h6 class="card-title">Infection Distribution By Countries</h6>
      <div class="row">
        <div class="col-12">
          <div id="cackeGraph" style="height: 21rem;">
            {{this.activateCackeChart}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
