<div class="col-12">
  <hr class="lineFresa">
  <div class="row">
    <div class="col-12 text-center">
      <h2 class="text-primary">
        Get Country full info
      </h2>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="autocomplete col-6">
      {{autocomplete-input name=name
          results=this.countries updateTerm="updateTerm" selectResult="selectResult"
          placeholder="Select Country"}}
    </div>
  </div>
  <hr class="lineFresa">
</div>
