<div class="col-12 col-md-8">
  <div class="card shadow">
    <div class="car-body" style="height: 35rem;">
      <div class="row">
        <h4 class="col-12 col-sm-6 col-md-12 col-lg-6 card-title p-4">
          Worldwide Infections
        </h4>
        <div class="col-12 col-sm-6 col-md-12 col-lg-6">
          <div class="row pr-4 mt-3">
            {{#each this.mapOptions as |option|}}
              <div class="col-3 text-sm btn btn-sm">
                <a class="btn btn-sm btn-outline-{{option.color}}" onclick={{action "changeMap" option}}>
                  {{option.option}}
                </a>
              </div>
            {{/each}}
          </div>
        </div>
      </div>
      <div class="row px-3">
        <div class="col-12">
          <div id="mapdiv" style="height: 28rem;">{{this.map}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
