<div class="container">
  <div class="rown text-center">
    <h1>Coronavirus App</h1>
  </div>
  <div class="row">
    <DatosGlobales @globalInfo={{@model.global}}/>
  </div>
  <div class="row">
      <CountriesList @title="Affected countries" @countries={{@model.countries}}/>
      <div class="col-8 card">
        Jala
      </div>
  </div>
</div>
